@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@layer base {

    html,
    body {
        background-color: #000;
    }

    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Sora', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #8F959F
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #CFDBE4
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px
    }

    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-white/25 rounded-full;
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-white/40;
    }
}